.project-catalog {
    margin-top: 30px;
    margin-bottom: 80px;
}

.catalog-container {
    max-width: 1250px;
    margin: 0 auto;
}

.catalog-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}