.reward * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.reward {
  border: 1px solid #dcdedd;
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
}

.reward:hover {
  cursor: pointer;
}

.selected-reward {
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.17);
  transition: all 0.25s ease-in-out;
  outline: 0;
}

.reward-container {
  width: 90%;
  margin: auto;
}

.reward-con {
}

.reward-cost {
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 20px;
}

.reward-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
}

.reward-description {
  color: #656969;
  margin: 0 0 20px;
  margin-bottom: 0 0 20px;
}

.reward-include {
  margin: 0 0 20px 30px;
}
.reward-include p:first-child {
  font-size: 10px;
  color: #656969;
}

.reward-include ul {
  margin-top: 5px;
}

.reward-delivery {
  margin: 0 0 20px;
}
.reward-delivery p:first-child {
  font-size: 10px;
  color: #656969;
}

.reward-remaining {
  margin: 0 0 20px;
  background-color: #f3f3f3;
  height: 30px;
  border-radius: 0.6rem;
}

.reward-remaining p {
  text-align: center;
  font-size: 12px;
  color: #464646;
  padding: 4px;
}

.reward-include p:first-child {
  margin-left: -30px;
}
