.settingnotifications{
    color: #282828;
}

.settingnotifications *{
    margin: 0;
}

.settingnotifications-container{
    width: 700px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 180px;
}

.notifications-detail-block{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #F1EEEA;
}

.notification-type{
    font-weight: 500;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.notification-boxx{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.each_notification{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    position: relative;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.notification-msg{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.notification-msg .title{
    width: 100%;
    text-align: left;   
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #282828;
}

.notification-msg .detail{
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 30px;
    color: #777777;
}
